<mat-nav-list>
    <a mat-list-item routerLinkActive="active" routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/almacen" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Almacen</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/admin" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Administracion</span>
    </a>
</mat-nav-list>