<h2 class="">
    ALMACEN DE PRODUCTOS
</h2>
<ng-container *ngIf="almacen != undefined; else cargando">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>shopping_cart</mat-icon>total:
                </mat-panel-title>
                <mat-panel-description>
                    {{factura}}&euro;
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table>
                <tr>
                    <th>producto</th>
                    <th>Cantidad</th>
                    <th>precio/unidad</th>
                </tr>
                <tr *ngFor="let pro of carrito">
                    <td>

                        <img src="{{pro.imagen}}" alt="">
                    </td>

                    <td>

                        x{{pro.cantidad}}
                    </td>

                    <td>

                        {{pro.precio}}&euro;/unidad
                    </td>

                    <td>
                        <button mat-icon-button color="warn" (click)="eliminarDelCarro(pro)"><mat-icon>remove_shopping_cart</mat-icon></button>
                    </td>
                </tr>
                <tr>
                    <th class="separacion" colspan="3"></th>
                </tr>
                <tr>
                    <th>TOTAL:</th>
                    <th></th>
                    <th>{{factura}}&euro;</th>
                </tr>

            </table>
        </mat-expansion-panel>
    </mat-accordion>



    <div class="almacen">
        <div class="articulo" *ngFor="let articulo of almacen" [ngClass]="{'naranja' : articulo.stock > 10 && articulo.stock < 15, 'rojo' : articulo.stock <= 10}" (click)="irArticuloDetalle(articulo.id)">
            <div class="producto">
                <p class="fruta"><img src="{{articulo.imagen}}" alt="">
                    <a mat-icon-button color="primary" routerLink="/articulo" [queryParams]="{id: articulo.id}">
                        <mat-icon>info</mat-icon>
                    </a>
                </p>
                <p class="nombre"><b>{{ articulo.nombre }}</b></p>
                <p class="tipo">{{ articulo.tipo }}</p>
                <p class="precio">{{ articulo.precio }}&euro;/unidad</p>
            </div>
            <div class="anadir">
                <button mat-icon-button color="primary" (click)='anadirAlCarro(articulo)' [disabled]="articulo.stock <= 0"><mat-icon>add_shopping_cart</mat-icon></button>

                <p class="existencias" [ngClass]="{'naranja' : articulo.stock > 10 && articulo.stock < 15, 'rojo' : articulo.stock <= 10}"><b>Stock:</b>{{ articulo.stock }}</p>
            </div>
        </div>
    </div>
</ng-container>




<ng-template #cargando>
    <div class="cargando">
        <mat-spinner color="primary"></mat-spinner>
        Cargando...
    </div>
</ng-template>