h2 {
    text-align: center;
}

img {
    height: 25px;
}

mat-accordion {
    float: right;
    width: 320px;
    mat-panel-description {
        display: flex;
        justify-content: flex-end;
    }
}

.almacen {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92%;
    position: relative;
    padding: 4%;
    .articulo {
        -webkit-box-shadow: 5px 5px 5px 0px rgba(181, 181, 181, 0.6);
        -moz-box-shadow: 5px 5px 5px 0px rgba(181, 181, 181, 0.6);
        box-shadow: 5px 5px 5px 0px rgba(181, 181, 181, 0.6);
        width: 120px;
        margin: 5px;
        .producto {
            p {
                margin: 0;
            }
            padding: 14px 14px 5px 14px;
            .fruta {
                text-align: center;
                img {
                    height: 70px;
                }
            }
            .nombre {
                font-size: 18px;
                color: #2c2c2c;
            }
            .tipo {
                font-size: 12px;
                color: #414141;
            }
            .precio {
                margin-top: 5px;
                font-size: 14px;
                color: #414141;
            }
        }
        .anadir {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            background-color: rgba(181, 181, 181, 0.2);
            .existencias {
                color: rgb(36, 122, 36)
            }
            .existencias.rojo {
                color: rgb(228, 96, 94);
            }
            .existencias.naranja {
                color: rgb(201, 143, 56);
            }
        }
    }
    .articulo:hover {
        -webkit-box-shadow: 3px 4px 6px 1px rgba(36, 122, 36, 0.7);
        -moz-box-shadow: 3px 4px 6px 1px rgba(36, 122, 36, 0.7);
        box-shadow: 3px 4px 6px 1px rgba(36, 122, 36, 0.7);
    }
    .articulo.rojo:hover {
        -webkit-box-shadow: 3px 4px 6px 1px rgba(228, 96, 94, 0.7);
        -moz-box-shadow: 3px 4px 6px 1px rgba(228, 96, 94, 0.7);
        box-shadow: 3px 4px 6px 1px rgba(228, 96, 94, 0.7);
    }
    .articulo.naranja:hover {
        -webkit-box-shadow: 3px 4px 6px 1px rgba(201, 143, 56, 0.7);
        -moz-box-shadow: 3px 4px 6px 1px rgba(201, 143, 56, 0.7);
        box-shadow: 3px 4px 6px 1px rgba(201, 143, 56, 0.7);
    }
}

table {
    tr {
        th.separacion {
            border-top: solid 1px #70707050;
        }
    }
}